@inherits LayoutComponentBase

<div class="ellipse-overlay top-right"></div>
<div class="ellipse-overlay top-left"></div>
<div class="ellipse-overlay bottom-right"></div>
<div class="ellipse-overlay bottom-left"></div>

<main>
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
