.tile {
    width: 100%;
    height: 250px;
    cursor: pointer;
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.25));
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
}

.tile:hover {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s;
}

.tile:hover .overlay {
    opacity: 1;
}

i {
    cursor: pointer;
    color: white;
}

    i:hover {
        color: #8582D1;
    }

p {
    color: white;
    font-weight: 400;
    font-family: "Gabarito", sans-serif;
}

.card-body {
    background-color: #221E51;
    border-radius: 10px;
}

.card {
    border: none;
    background-color: #221E51;
}

.bi::before, [class*=" bi-"]::before, [class^=bi-]::before {
    font-weight: 500 !important;
}

.tooltip-wrapper {
  position: relative;
  cursor: pointer;
}

.custom-tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    background-color: #8582D1; 
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-family: "Gabarito", sans-serif !important;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.tooltip-wrapper:hover .custom-tooltip {
  opacity: 1;
}
